<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#"><span *ngIf="loading">Loading</span></a>
  </li>

  <li class="nav-item">
    <button type="button" class="btn btn-primary" (click)="openModalInsert($event)">New Asset</button>

  </li>
</ul>
<br>
<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>

<div style="  overflow: auto; ">
  <div class="" >
    <label for="inputDescription" class="col-form-label">name</label>
    <input [(ngModel)]="search.name" type="text" >
      </div>
      <div class="">
        <label  class="col-form-label">shoppingCentre</label>
        <select class="" (change)="updateShoppingCentre($event.target.value)">
          <option *ngFor="let pow of shoppingCentreList" [ngValue]="pow" >{{pow._id}}</option>
        </select>
      </div>

  <div class="">
    <label  class="col-form-label">status</label>
    <select class="" (change)="updateStatus($event.target.value)">
      <option *ngFor="let pow of ['', 'active','inactive']" [value]="pow">{{pow}}</option>
    </select>
  </div>
  <button type="button" class="btn btn-primary" (click)="onClickSearch()">Search</button>
</div>
<br>


<table class="table ">
  <thead class="thead-default">
    <tr>
    <th>Name</th>
    <th>ShoppingCentre</th>
    <th>Location</th>
    <th>Dimensions</th>
    <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList" [product]="product" app-products-list-item>
    </tr>
  </tbody>
</table>
