<nav class="navbar  bg-calm">
		<ul >
			  <li>
					   <a class="color: white;" [routerLink]="['/login']">Login</a>
					 </li>
					 <li>
          <a class="color: white;" [routerLink]="['/']">Assets</a>
				</li>
				<li>
					<a class="color: white;" [routerLink]="['/login']">Logout</a>
					</li>
	  </ul>
	</nav>
