<div class="modal-header">
	<h3 class="modal-title pull-left">{{title}}</h3>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td class="table-secondary">name</td>
				<td>{{product.name}}</td>
			</tr>
			<tr>
				<td class="table-secondary">location</td>
				<td>{{product.location}}</td>
			</tr>
			<tr>
				<td class="table-secondary">dimensions</td>
				<td>{{product.dimensions}}</td>
			</tr>
			<tr>
				<td class="table-secondary">shoppingCentre</td>
				<td>{{product.shoppingCentre}}</td>
			</tr>
		</thead>
	</table>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Close</button>
</div>
