<td class="w-30">{{product.name }} </td>
<td class="w-20">{{product.shoppingCentre.name }} </td>
<td class="w-20">{{product.location }} </td>
<td class="w-20">{{product.dimensions }} </td>
<td class="w-10">{{product.status }} </td>
<td class="w-20">
  <button (click)="openModalView(product)" type="button" class="btn btn btn-primary"><i class="fa fa-search-plus" aria-hidden="true"></i>detail</button>
  <button (click)="openModalEdit(product)" type="button" class="btn btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>edit</button>
  <button (click)="onClickDeleted(product)" type="button" class="btn btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i>delete</button>
</td>
