<div class="modal-header">
  <h3 class="modal-title pull-left">{{title}}</h3>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form novalidate [formGroup]="modalForm">
    <div class="form-row">
      <div class="form-group col-md-6" >
        <label for="inputDescription" class="col-form-label">name</label>
        <input [(ngModel)]="product.name" formControlName="name" type="text" class="form-control" >
          </div>
          <div class="form-group col-md-6">
            <label  class="col-form-label">shoppingCentre</label>
            <select class="form-control" (change)="updateShoppingCentre($event.target.value)">
              <option *ngFor="let pow of listSC" [ngValue]="pow" [attr.selected]="pow._id==product.shoppingCentre._id">{{pow._id}}</option>
            </select>
          </div>
      <div class="form-group col-md-6">
        <label  class="col-form-label">location</label>
        <input [(ngModel)]="product.location" formControlName="location" type="text" class="form-control" >
      </div>
      <div class="form-group col-md-6">
        <label  class="col-form-label">dimensions</label>
        <input [(ngModel)]="product.dimensions" formControlName="dimensions" type="text" class="form-control" >
      </div>
      <div class="form-group col-md-6">
        <label  class="col-form-label">status</label>
        <select class="form-control" (change)="updateStatus($event.target.value)">
          <option *ngFor="let pow of ['inactive','active']" [value]="pow" [attr.selected]="pow==product.status">{{pow}}</option>
        </select>
      </div>

      <div class="invalid-feedback">

      </div>
    </div>
  </form>
</div>
<div class="modal-footer">

  <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Close</button>
  <button type="button" class="btn btn-outline-primary" (click)="onClickSave()" [disabled]="!modalForm.valid">Save Asset</button>
</div>
